
body {
	background-color: #fff;
	width: 100vw !important;
	overflow-x: hidden !important;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}


header a:hover {
	text-decoration: none;
}

#navbar {
	background-color: #000 !important;
}

/*footer */

footer {
	background: black;
}

footer a {
	color: lightgrey;
}


footer a:hover {
	opacity: 0.8;
	color: lightgrey;
	text-decoration: none;
}


#footer-sections {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-section {
	flex-basis: 32%;
}

.form-group input,
.form-group textarea {
	display: block;
}


#contact-us, 
#quick-links,
#social-media
{
	color: #fff;
	padding: 1.4rem 2rem;
}


#others h4, 
#contact-us h4,
#quick-links h4,
#social-media h4
{
	margin: 1.4rem 0;
}

form {
	color: #000;
	padding: 1.4rem;
	background: #fff;
}


form input, 
form textarea {
	width: 100% !important;
}


.form-group label {
	font-weight: 550;
	font-size: 0.96rem;
}

.form-group label span {
	font-size: 0.75rem;
	font-weight: normal;
}


footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


