

.card {
	margin-bottom: 1rem !important;
}
.card > button {
	background: #eaeaea;
	text-transform: uppercase;
	font-size: 0.95rem;
}

.card > button:focus {
	outline: none !important;
}

.app-card-body h5 {
	padding: 0.5rem 1rem !important;
	background: rgba(0, 0, 0, 0.035);
	margin-top: 0.5rem !important;
}